/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2018, 10:11:02 PM
    Author     : Zach
*/

* {

    dark-primary-color: #388E3C;
    default-primary-color: #4CAF50;
    light-primary-color: #C8E6C9;
    text-primary-color: #FFFFFF;
    accent-color: #8BC34A;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD;

}

.root {

    -fx-background-color: default-primary-color;

}

.button {

    -fx-font: 12px "Verdana";
    -fx-text-fill: text-primary-color;
    -fx-background-color: accent-color;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0.0, 1, 0);
    -fx-background-radius: 4px;

}

.label {

    /*-fx-font: 16px "Verdana";*/
    -fx-text-fill: text-primary-color;
    -fx-text-alignment: center;

}

.choice-box > *,
.choice-box .menu-item > *,
.combo-box > *,
.combo-box .menu-item > * {

    -fx-text-fill: primary-text-color;
    -fx-text-alignment: center;

}

.table-column > * {

    -fx-text-fill: primary-text-color;
    -fx-text-alignment: center;

}
